
#main{
    padding-left: 75px;
}

a{
    text-decoration: none;
}


#currency-2{
    border: #00000024 solid 1px;
    border-radius: 0 0 0 0 ;
    height: 30px;
    width: 250px;

}

#cancel{
    cursor: pointer;
    padding: 9px 7px;
    margin-right: 7px;
    border-radius: 5px 5px;
}


#save{
    cursor: pointer;
    padding: 9px 15px;
    background:palegoldenrod;
    border-radius: 5px 5px;
}


#note{
    width: 600px;
    font-size: 12px;
    padding: 18px 0 16px 0;

}